[Unit]
Description=Demo Service
 
[Service]
Type=simple
User=root
Group=root
ExecStart=[full_directory_path]/venv/bin/python [full_directory_path]/experiments/walker/training_mqf.py --experiment_name results/final/1-walker-sample10k --env_name walker --is_sisl_env --max_episode_len 500 --daemon --nb_runs 10 --max_episode 20000 --max_step 1000000 --update_step 50 --saving_frequency 10000 --policy_type gaussian --ma_type centralized --num_layers 2 --gamma 0.99
Restart=on-failure
WorkingDirectory=[full_directory_path]
Nice=19
LimitNOFILE=16384
 
[Install]
WantedBy=multi-user.target
